name: docker

on:
  schedule:
    - cron: '0 * * * *'
  push:
    branches: ["main"]
  workflow_dispatch:
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

    - id: tags
      name: Fetch Tags
      run: |
        LATEST_TAG=$(curl -sL https://api.github.com/repos/homebridge/homebridge-apt-pkg/releases/latest | jq -r '.tag_name' | grep -Po '\d.+')
        echo "latest: $LATEST_TAG"
        CURRENT_TAG=$(curl -sL -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" https://api.github.com/user/packages/container/homebridge/versions | jq -r '[.[] | select(.metadata.container.tags[0])] | max_by(.created_at) | .metadata.container.tags[0]')
        echo "current: $CURRENT_TAG"
        echo "latest_tag=$LATEST_TAG" >> $GITHUB_ENV
        echo "current_tag=$CURRENT_TAG" >> $GITHUB_ENV

    - if: github.event_name == 'workflow_dispatch' || env.current_tag != env.latest_tag
      name: Login to GitHub Container Registry
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - if: github.event_name == 'workflow_dispatch' || env.current_tag != env.latest_tag
      name: Update Container Registry
      run: |
        docker buildx create --use 
        docker buildx build --push --platform linux/arm/v7,linux/arm64 \
          --build-arg HOMEBRIDGE_APT_PKG_VERSION=${{ env.latest_tag }} \
          -t ghcr.io/0bu/homebridge:${{ env.latest_tag }} -t ghcr.io/0bu/homebridge:latest .

